@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

.generic-input-style {
  width: 300px;
}
.ui.secondary.pointing.menu .item {
  color: #fff;
}
.ui.secondary.pointing.menu .active.item {
  color: #fff !important;
  border-color: #fff !important;
}
#container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #7d0541;
  overflow-y: hidden;
}

#login-grid {
  background: #7d0541;
  padding: 30px;
}

.grid-row {
  padding-bottom: 15px;
  width: 25vw;
}

.form-row {
  padding-bottom: 10px;
  width: 25vw;
}

.generic-form-header-icon {
  color: white;
}

#submit-button {
  background: #7f4e52;
  color: white;
}

#submit-button:hover {
  background-color: #fff;
  color: #7f4e52;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

/* Profile page styles */

#tab-pane-container {
  display: flex;
  position: relative;
  left: 40px;
  height: 95vh;
  width: 90vw;
}

#tab-pane {
  margin-top: 130px;
  width: 90vw;
  text-align: center;
}

#form-container {
  height: 100%;
  padding-top: 70px;
  width: 90%;
}

.tab-headers {
  position: relative;

  top: 30px;
}

.tab-headers-text {
  font-family: "Potta One", cursive;
  font-size: 3em;
  text-align: center;
  color: #7d0541;
}

.tab-headers-text-edit {
  font-family: "Potta One", cursive;
  font-size: 3em;
  text-align: center;
  color: #7d0541;
  position: relative;
  top: 30px;
}

#tab-body {
  padding: 20px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#edit-profile-save-button {
  margin: 20px;
}

div.ui.secondary.menu .active.item {
  background-color: #7d0541;
  color: white;
  box-shadow: 3px 6px 18px #888888;
}

#image-controls {
  position: relative;
  top: 20px;
  overflow: hidden;
}

#profile-pic-container {
  position: relative;
  top: 40px;
}

.address-text {
  float: right;
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.profile-rows {
  position: relative;
  top: 30px;
}

div.ui.mini.statistic {
  margin-top: 0 !important;
  padding-top: 20px;
}
#recent-table {
  background-color: white;
  border: none;
  box-shadow: #7c0842 0px 6px 12px -2px, #7c0842 0px 3px 7px -3px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#table-body {
  display: block;
  height: 20vh;
  overflow: auto;
}

thead,
tbody tr {
  width: 100%;
  table-layout: fixed;
}

#follower-table-body {
  max-height: 30vh !important;
  overflow-y: auto;
}

#follow-button {
  background: #7d0541;
  color: white;
  margin-right: 40px;
  position: relative;
  bottom: 10px;
}

#follow-button-container {
  position: relative;
  bottom: 8px;
}

#unfollow-button {
  background-color: #fff;
  color: #7f4e52;
  border: 1px solid #7d0541;
  margin-right: 40px;
  position: relative;
  bottom: 10px;
}
#follow-button:hover {
  background-color: #b40b5f;
  color: #fff;
}

#dashboard-table {
  box-shadow: #7c0842 0px 6px 12px -2px, #7c0842 0px 3px 7px -3px;
  width: 30vw;
  display: inline-block;
  margin-left: 40px;
  height: 30vw;
  overflow-x: hidden;
}
#user-recent-table {
  width: 50vw;

  box-shadow: #7c0842 0px 6px 12px -2px, #7c0842 0px 3px 7px -3px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#recent-table {
  width: 50vw;
  left: 6vw;
  box-shadow: #7c0842 0px 6px 12px -2px, #7c0842 0px 3px 7px -3px;
  position: absolute;
}

#recent-follower-table {
  width: 50vw;
  box-shadow: #7c0842 0px 6px 12px -2px, #7c0842 0px 3px 7px -3px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 35vh;
  left: 6vw;
}

#home-logo {
  height: 104px;
  width: 342px;
  position: absolute;
  top: 40vh;
  left: 14vw;
}
.ui.divider.inverted,
.ui.divider.inverted:after,
.ui.divider.inverted:before {
  border-left-color: #fff !important;
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  color: #fff;
  background-color: #fff;
}

.ui.vertical.divider:after {
  top: -100px !important;
  bottom: 100px !important;
}

.ui.vertical.divider:before {
  top: -80% !important;
}
