.nav {
  text-decoration: none;
  width: 100vw;
  height: 80px;
  position: fixed;
  box-shadow: 0 4px 2px -1px gray;
  background: #7d0541;
  display: flex;
  justify-content: center;

  z-index: 100;
}

#nav-ul,
ul {
  list-style-type: none;
}

.nav-li-right {
  text-decoration: none;
  float: right;
}

.menu-link-right {
  text-decoration: none;
  position: sticky;
  color: #ffffff;

  font-size: 17px;
}

.menu-link-left {
  text-decoration: none;
  /* font-family: 'Goldman', cursive; */
  color: #ffffff;
  font-size: 17px;

  position: sticky;
}

#logo {
  height: 52px;
  width: 171px;
  position: absolute;
  top: 12px;
  left: 45vw;
}

.dropdownItem {
  color: #7d0541;
}

#dropdown {
  color: white;
}

#dropdown-menu {
  margin-top: 0;
  z-index: 101;
  background-color: #7d0541;
}

.dropdown-item {
  color: white;
}

#notifications-icon {
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #fff;
  position: relative;
  left: 50px;
  text-decoration: none;
  position: sticky;

  font-size: 17px;
}

#notifications-dropdown {
  color: #fff;
}

#notification-menu {
  margin-top: 0;
  z-index: 101;
  background-color: #7d0541;
}

thead,
tbody tr {
  width: 100%;
}

#notification-table {
  max-height: 300px !important;
}
